*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

nav{
  padding: 20px 0px;
  background-color: grey;
}

.navbar-wrapper{
  display: flex;
  justify-content: space-between;
}

.navbar-wrapper ul {
  display: flex;
  gap: 30px;
}